<%= render partial: 'nav' %>
<%= render 'layouts/messages' %>
<% if @data.is_a?(String) %>
    <h5><%= @data %></h5>
<% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Limit</th>
          <th scope="col">APR</th>
          <th scope="col">Available</th>
          <th scope="col">Last Statement Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @data[:data].each do |credit_line| %>
        <tr>
          <th scope="row"><%= link_to credit_line[:id], controller: "credit_line", action: "show", id: credit_line[:id] %></th>
          <td><%= credit_line[:limit] %></td>
          <td><%= credit_line[:apr] %></td>
          <td><%= credit_line[:available] %></td>
          <td><%= credit_line[:last_statement].to_date %></td>
          <td>
            <%= link_to "Delete", "credit_line/#{credit_line[:id]}", method: :delete, data: { confirm: 'Are you certain you want to delete this credit line?' }, class: 'action'  %>
            <%= link_to "View Statement", "collector/#{credit_line[:id]}", class: 'action' %>
            <%= link_to "Charge Interest", "collector/charge/#{credit_line[:id]}", class: 'action' %>
            <%= link_to "Draw Money", draws_new_path(:credit_line_id => credit_line[:id]), class: 'action' %>
            <%= link_to "Make Payment", payments_new_path(:credit_line_id => credit_line[:id]) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

