<h2 class="text-center">Collect Interest</h2>
<%= render 'layouts/messages' %>
<% if @data.is_a?(String) %>
  <h5><%= @data %></h5>
<% else %>
  <% data = @data[:data] %>
  <div class="col-md-6 col-md-offset-3">
    <h4 class="text-center">Credit Line Balance Details</h4>
    <ul class="list-group">
      <li class="list-group-item"><b>Interest: </b>$<%= data[:interest] %></li>
      <li class="list-group-item"><b>Balance: </b>$<%= data[:balance] %></li>
      <li class="list-group-item"><b>Credit Line ID: </b><i><%= data[:credit_line][:id] %></i></li>
      <li class="list-group-item"><b>Limit: </b>$<%= data[:credit_line][:limit] %></li>
      <li class="list-group-item"><b>Available: </b>$<%= data[:credit_line][:available] %></li>
      <li class="list-group-item"><b>APR: </b><%= data[:credit_line][:apr] %>%</li>
      <li class="list-group-item list-group-item-danger"><b>Total charge: </b>$<%= (data[:interest].to_f + data[:balance].to_f) %></li>
    </ul>
    <h5 class="text-center">Transactions Applied for Billing Cycle</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Date Posted</th>
        </tr>
      </thead>
      <tbody>
        <% data[:transactions].each do |transaction| %>
        <tr>
          <th scope="row"><%= transaction[:id] %></th>
          <td><%= transaction[:amount] %></td>
          <td><%= transaction[:created_at].to_date %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
<% end %>